* {
    margin: 0;
    padding: 0;
    
}
#headline {
    background: url(slike_final/main.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -2;
}
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 40px;
}
.banner-text h1 {
    font-family: 'Bigshot One', cursive;
    font-size: 130px;
}
.banner-text p {
    font-size: 35px;
    font-style: italic;
    font-family: 'Red Rose', cursive; 
}
.banner-btn {
    margin: 400px auto 0;
}
.banner-btn a {
    font-family: 'Red Rose', cursive;
    font-size: 19px;
    text-decoration: none;
    width:100px;
    display: inline-block;
    transition: all 0.8s ease;
    color:#fff;
    margin: 0 10px;
    padding: 15px 15px;
    border: solid #fff;
    position: relative;
     
}
.banner-btn a:hover {
    background-color: #fff;
    color: black;  
}

/*naivigation*/

#navigation {
    position: fixed;
    
    transition: 0.4s;
    top: 0;
    right:0;
    width: 150px;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}
nav ul {
    margin-top: 130px;
}
nav ul li {
    list-style: none;
    
    font-style: none;
    margin: 50px 15px;
    text-align: center;
    
    line-height: 50px;;      
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Red Rose', cursive;
}

#MenuBtn {
    width: 50px;
    position: fixed;
    top: 35px;
    right: 17px;
    z-index: 2;
    cursor: pointer;
}

/*--feture--*/

#features {
    background-image: url(slike_final/pozadina-features.png);
    background-size: cover;
    width: 100%;
}
.logo-feat {
    text-align: center;
    padding-top: 50px;
}
.logo-feat h4 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 25px;
}

.logo-feat p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.duh {
    margin:auto;
    width: 50px;
    height: 50px;
    top: 100%;
    left: 50%;
}
.feature-all {
    padding-top: 70px;
    text-align:center;
    align-items:center;
    margin:auto;
    width:80%;
    display: flex;
    
    
    
}
.feature-left {
    flex-basis: 50%;     
    width: 170px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: black solid 3px;
    box-shadow: 10px 10px 15px black;
    box-sizing: border-box;
}
.feature-img {
    flex-basis: 50%;
   
}
.feature-img img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
.feature-left h1 {
    text-align: left;
    margin-bottom: 15px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.feature-left-1 {
    display: flex;
    margin-bottom: 40px;
}
.feature-left-1-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: black;
    border: 1px solid black;
}
.feature-left-1-text p{
    text-align: initial;
    padding: 0 20px;
}

/*SERVICES*/

.logo-serv {
    text-align: center;
    padding-top: 50px;
}
.logo-serv h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 25px;
}

.logo-serv p {
    padding-top: 10px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;
}
